<div class="container">

<h2>Get a Loan</h2>

<form action="/borrowed" method="post">
		<label for="name_of_lender">Borrowed from: </label>
		<input class="form-control" name="name_of_lender" id="name_of_lender" type="text">
		<label for="amount_borrowed">How much was borrowed? </label>
		<input class="form-control" name="amount_borrowed" id="amount_borrowed" type="text">
	<button type="submit" class="btn-primary">Add</button>
</form>

</div>