<div class="container">

<h2>Give a Loan</h2>

<form action="/loans" method="post">
		<label for="name">Lent to: </label>
		<input class="form-control" name="name" id="name" type="text">
		<label for="amount">How much was borrowed? </label>
		<input class="form-control" name="amount" id="amount" type="text">
	<button type="submit" class="btn-primary">Add</button>
</form>

</div>